body {
    background-color: #5B2386;
}
h1, h2 {visibility: hidden;}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    margin-top: 35px;
    margin-left: 15px;
    gap: 70px;
}
header,
main,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 297px;
}
.clock {
    justify-content: flex-start;
    width: 128px;
    margin-left: 74px;
    position: absolute;
}
.title {
    justify-content: flex-start;
    width: 278px;
    margin-top: 36px;
    position: absolute;
}
.quote {
    justify-content: flex-end;
    width: 297px;
    margin-top: 162px;
    margin-left: 16px;
    position: relative;
    text-align: center;
  font-family: "OTEnjoystoriesBA";
    color: #F5DF4D;
    font-size: 22px;
}
main {
    width: 330px;
    gap: 60px;
    justify-content: center;
    align-items: center;
    font-family: 'GmarketSansMedium';
    color: #FFFFFF;
    font-size: 14px;
}
.right {
    justify-content: flex-start;
    background-color: #8443B6;
}
.intro p {
    width: 290px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.left {
    justify-content: flex-end;
    background-color: #8443B6;
}
dfn {
    font-family: 'GmarketSansBold';
}
output {
    font-family: 'GmarketSansBold';
    font-size: 24px;
    line-height: 100%;
}
footer {
    width: 261px;
    gap: 12px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p {
    width: 261px;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
}
.calculator .button {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.check {
    width: 240px;
    padding: 20px 50px;
    gap: 10px;
}
.action .close {
    width: 203px;
    text-align: center;
}
.action :nth-last-child {
    width: 102px;
    padding: 16px 24px;
}
.intro img {
    width: 20px;
}

.click {
    width: 43px;
}
.logo {
    width: 125px;
}
.action {
    display: flex;
    flex-direction: row;
    width: 313px;
    gap: 8px;
    padding: 16px 24px;
}
button {
    background-color: #FCEE21;
    border-radius: 12px;
    border: none;
    font-family: 'GmarketSansBold';
    font-size: 14px;
    color: #5B2386;
}
.share {
    background-color: #FFFFFF;
}
@media screen and (min-width: 992px) {
    .container {
        width: 771px;
        gap: 160px;
}
    header {
        width: 564px;
    }
    .intro {
        width: 485px;
        gap: 20px;
    }
    .calculator {
        width: 771px;
        gap: 100px;
    }
    .check {
        width: 567px;
        padding: 20px 50px;
        gap: 10px;
    }
    .result {
        width: 663px;
        gap: 20px;
    }
    .action {
        width: 570px;
        gap: 12px;
    }
    main {
        width: 771px;
        gap: 120px;
    }
    footer {
        width: 365px;
        gap: 20px;
    } }
